#search_bar {
    font-size: 400%;

    width: 90%;

    margin: 50px 10px 0px;

    padding: 25px 40px;
    text-align: center;

    border: 2px black solid;
    border-radius: 500px;
    box-shadow: 4px 4px 10px gray;
}

#search_button {
    font-size: 390%;

    width: fit-content;
    height: fit-content;

    margin: 30px 10px 0px;

    padding: 23px 40px;

    border: 2px black solid;
    border-radius: 500px;
    box-shadow: 4px 4px 10px gray;
}

#search_button:hover {
    box-shadow: 4px 4px 13px gray;
}

#display_area {
    margin: 50px 10px 0px;
}